@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 30% 97%;
    --foreground: 217 19% 27%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 120 4% 11%;

    --muted: 120 4% 20%;
    --muted-foreground: 0 0% 100%;

    --primary: 120 4% 11%;
    --primary-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 3%;
    --foreground: 0 0% 95%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 120 4% 11%;

    --muted: 100 100% 100%;
    --muted-foreground: 0 0% 100%;

    --primary: 243 82% 64%;
    --primary-foreground: 0 0% 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply pb-12;
}

a {
  @apply !text-foreground underline underline-offset-2 !decoration-muted/20 hover:!decoration-muted transition-colors;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .newsreader {
    font-family: var(--font-newsreader);
  }

  .articulat-cf{
    font-family: var(--font-articulat-cf);
  }
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.slide-enter-content > *:not(:has(.table-of-contents)) {
  --stagger: 0;
  --delay: 100ms;
    --start: 0ms;
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.slide-enter-content > *:nth-child(1) {
  --stagger: 1;
}
.slide-enter-content > *:nth-child(2) {
  --stagger: 2;
}
.slide-enter-content > *:nth-child(3) {
  --stagger: 3;
}
.slide-enter-content > *:nth-child(4) {
  --stagger: 4;
}
.slide-enter-content > *:nth-child(5) {
  --stagger: 5;
}
.slide-enter-content > *:nth-child(6) {
  --stagger: 6;
}
.slide-enter-content > *:nth-child(7) {
  --stagger: 7;
}
.slide-enter-content > *:nth-child(8) {
  --stagger: 8;
}
.slide-enter-content > *:nth-child(9) {
  --stagger: 9;
}
.slide-enter-content > *:nth-child(10) {
  --stagger: 10;
}
.slide-enter-content > *:nth-child(11) {
  --stagger: 11;
}
.slide-enter-content > *:nth-child(12) {
  --stagger: 12;
}
.slide-enter-content > *:nth-child(13) {
  --stagger: 13;
}
.slide-enter-content > *:nth-child(14) {
  --stagger: 14;
}
.slide-enter-content > *:nth-child(15) {
  --stagger: 15;
}
.slide-enter-content > *:nth-child(16) {
  --stagger: 16;
}
.slide-enter-content > *:nth-child(17) {
  --stagger: 17;
}
.slide-enter-content > *:nth-child(18) {
  --stagger: 18;
}
.slide-enter-content > *:nth-child(19) {
  --stagger: 19;
}
.slide-enter-content > *:nth-child(20) {
  --stagger: 20;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-full bg-muted/10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#toc::-webkit-scrollbar {
  @apply hidden;
}

#toc:hover::-webkit-scrollbar {
  @apply block;
}