@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 30% 97%;
    --foreground: 120 4% 11%;

    --primary: 120 4% 11%;
    --primary-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;

    --primary: 243 82% 64%;
    --primary-foreground: 0 0% 100%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
